<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{​​​​HH:mm:ss.SSS}​​​​ [%thread] %-5level %logger{​​​​5}​​​​ - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="SPLUNK"
              class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>https://prd-p-kuga4.splunkcloud.com:8088</url>
        <token>7a10f683-0270-43ba-88b0-7197886d8cb3</token>
        <index>main</index>
        <disableCertificateValidation>true</disableCertificateValidation>
        <batch_size_count>1</batch_size_count>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%logger: %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SPLUNK"/>
    </root>
</configuration>
